<!DOCTYPE html>
<html>
<head>
    <title>:)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="resources/resources.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
        <div ng-controller="login">
            <div ng-if="!user.loggedIn">
                <form ng-submit="submit()">
                    <input ng-model="user.username" type="text" name="user" placeholder="Username" />
                    <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
                    <input type="submit" value="Login" ng-click="login()"/>
                </form>
            </div>

            <div ng-if="user.loggedIn">
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="data.users">Users</a></li>
                    <li ui-sref-active="active"><a ui-sref="data.albums">Albums</a></li>
                    <li ui-sref-active="active"><a ui-sref="data.all">All</a></li>
                </ul>
                <div ui-view> </div>
            </div>
        </div>
    </body>
</html>
