<div>
    <form ng-submit="submit()">
        <input ng-model="githubUsername" type="text" name="user" placeholder="Github Username" />
        <input type="submit" value="Search" ng-click="search()"/>
    </form>
</div>
<table class="table table-responsive table-hover table-bordered">
    <thead>
    <th>Repository Name</th>
    <th>Description</th>
    <th>Primary Language</th>
    <th>URL</th>
    </thead>
    <tbody>
    <tr ng-repeat="repo in repos">
            <td>{{repo.full_name}}</td>
            <td>{{repo.description}}</td>
            <td>{{repo.language}}</td>
            <td>{{repo.url}}</td>
        </tr>
    </tbody>
</table>
